<div class="secondaryBody animated fadeInUp col-md-9 blog-post-container">
    <div class="center-text">
        <h1 class="animated fadeInUp">Zeus Almighty wear now in!</h1>
        <p>May 28th, 2016</p>
    </div>
    <div class="blog-post-details">
        <div>
            <img src="http://i.imgur.com/6dSZovl.jpg" alt="" class="blog-post-img center">
        </div>
        <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
        <div class="share-social">
            <h3>Share: </h3>
            <a href="#"><img src="../img/tumblr-02.png" alt="" class="social-icon social-tumblr"></a>
            <a href="#"><img src="../img/facebook-02.png" alt="" class="social-icon social-facebook"></a>
            <a href="#"><img src="../img/colored-twitter-02.png" alt="" class="social-icon social-twitter"></a>
            <a href="#"><img src="../img/colored-reddit-02.svg" alt="" class="social-icon social-reddit"></a>
        </div>
    </div>
</div>
