<div class="secondaryBody animated fadeInUp col-md-9">
	
  <div class="center">
    <h1 class="animated fadeInUp">Zeus Almighty wear now in!</h1>
    <p>May 28th, 2016</p>
  </div>

  <div class="blog-container">
    <article class="row">
    <a href="#/blog-post">
      <section class="col-md-4 event big-blog">
        <img src="http://i.imgur.com/6dSZovl.jpg" alt="Blog Picture">
        <img src="/img/opacity-29.png" alt="" class="overlay-big">
        <div>
        	<h3>Smokechella performance 420 show</h3>
          <p>Events</p>
          <!-- <p class="overlay-text">Read More</p> -->
        </div>
      </section>
    </a>
      
    <a href="#">
      <section class="col-md-4 clothes big-blog">
        <img src="http://i.imgur.com/6dSZovl.jpg" alt="Blog Picture">
        <img src="/img/opacity-29.png" alt="" class="overlay-big">
        <div>
          <h3>Zues Almighty wear now in!</h3>
          <p>Clothes</p>
        </div>
      </section>
    </a>
      
    <a href="#">
      <section class="col-md-2 news small-blog">
        <img src="http://i.imgur.com/6dSZovl.jpg" alt="Blog Picture">
        <img src="/img/small-opacity.png" alt="" class="overlay-small">
        <div class="small-blog-text">
          <h3>New tape in the works</h3>
          <p>News</p>
        </div>
      </section>
    </a>

    <div class="row sc-row"> </div>
    <a href="#">
      <section class="col-md-2 artist small-blog">
        <img src="http://i.imgur.com/6dSZovl.jpg" alt="">
        <img src="/img/small-opacity.png" alt="" class="overlay-small">
        <div class="small-blog-text">
          <h3>Cage the Great photoshoot</h3>
          <p>Artist</p>
        </div>
      </section>
    </a>
    </article>
  </div>
</div>