<div class="secondaryBody animated fadeInUp col-md-9">
	<div class="row choice">
		<div class="col-md-4">
			<a href="#/store">
				<img src="http://i.imgur.com/hCkg2qw.png" alt="">
				<h1 class="col-md-12">HIS</h1>
			</a>
		</div>
		<div class="col-md-4 bounceIn Animated wow" data-wow-delay="1.5s">
			<img src="http://i.imgur.com/CX66aZS.png" alt="">
		</div>
		<div class="col-md-4">
			<a href="#/store">
				<img src="http://i.imgur.com/hCkg2qw.png" alt="">
				<h1 class="col-md-12">HERS</h1>
			</a>
		</div>
	</div>
</div>