<div id="bruce" class="animated fadeInUp col-md-9">
	
	<!-- Carousel -->
	<div id="slides_control" class="row">
		<div class="col-md-12">
	      <carousel interval="myInterval">
	        <slide ng-repeat="slide in slides" active="slide.active">
	          <img ng-src="{{slide.image}}">
	          <div class="carousel-caption">
	          </div>
	        </slide>
	      </carousel>
	    </div>
  	</div>

  	<!-- Events -->
  	<div class="row secondRow">
  	<div class="col-md-6 borders left-border">
  		<h1>No upcoming events homies :(</h1>
  	</div>

  	<div class="col-md-6 borders">
  		<h2>Subsribe to our mailing list for first dibs on all the news</h2>
  		<input type="email" class="col-md-12 email" placeholder="Enter email address">
  		<button type="button" class="cartButton col-md-12 sub-btn">Subscribe</button>
  	</div>
  		
  	</div>


	<!-- 	<img src="http://i.imgur.com/9BwnACQ.png" class="col-md-4 col-md-offset-3"> -->
</div>