<div class="secondaryBody animated fadeInUp col-md-9">
	<h1>Login</h1>

  <form name="loginForm" class="leForms" ng-submit="login('hi')">
  <p class="message" ng-show="message">{{ message }}</p>
    <div class="row">
      <div class="medium-12 columns">
        <fieldset>
          <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
          <p class="error validationerror" ng-show="loginForm.email.$invalid && loginForm.email.$touched">Must be a valid email</p>
          </input>

          <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
          <p class="error validationerror" ng-show="loginForm.password.$invalid && loginForm.email.$touched"> Password is required</p>
          </input>  

        </fieldset>
        <button class="submit" type="submit" ng-disabled="loginForm.$invalid">Submit</button>
        <p style="float:right">Not a Memeber? <a href="#/register">Register</a></p>
      </div>
      
    </div>
  </form>



</div>