
<div class="secondaryBody animated fadeInUp col-md-9">
	<div class="center">
		<h1 class="animated fadeInUp">Infinite STORE</h1>
		<p>Here lives the ecentric clothing apparels from Infinite Fortunes.</p>
	</div>

	<div class="row">
	<ul class="nav nav-pills col-md-6 col-md-offset-3">
  		<li role="presentation"><a href="#">All</a></li>
  		<li role="presentation" class="active"><a href="#">Featured</a></li>
  		<li role="presentation"><a href="#">Shirts</a></li>
  		<li role="presentation"><a href="#">Hats</a></li>
  		<li role="presentation"><a href="#">Accessories</a></li>
	</ul>
	</div>

	<div class="row">
		<div ng-repeat="product in items">
			<div class="theProduct  col-md-3 columns animated fadeInUp">
				<img src="http://i.imgur.com/oFTKznp.png" class="" alt="">
				<h3>{{product.name}}</h3>
				<h4>{{product.description}}</h4>
				<h3>{{product.price | currency}}</h3>
				<a href="#/chat"><button ng-show="product.canPurchase" class="cartButton">Make an offer</button></a>
			</div>	
		</div>
	</div>
</div>