html {
	height: initial;
	background: white;
	background: -webkit-radial-gradient(circle, white, white, #ccc 120%); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, white, white, #ccc 120%); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, white, white, #ccc 120%); /* For Fx 3.6 to 15 */
    background: radial-gradient(circle, white, white, #ccc 120%); /* Standard syntax (must be last) */
}

body{
	background: url("http://i.imgur.com/tUipEz4.png") repeat center fixed;
}

ul {
	list-style-type: none; 
	margin-left: 1%; 
	display: block;
}

ul>img{
	width: 80%;
	margin-top: 7%;
	margin-bottom: 50%;
}

li {
	margin-bottom: 10%;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.center {
	text-align: center;
}

/********** SIDE NAV **********/ 
.home{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

li:hover .home{
	background-image: url('../img/home-icon-02.svg');
	width: 35%;
    height: 35%;
}

.store{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

li:hover .store{
	background-image: url('../img/store-icon-02.svg');
	width: 35%;
    height: 35%;
}

.blog{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

li:hover .blog{
	background-image: url('../img/blog-icon-02.svg');
	width: 35%;
    height: 35%;
}

.contact{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

li:hover .contact{
	background-image: url('../img/contact-icon-02.svg');
    width: 35%;
    height: 35%;
}
/********** SIDE NAV END **********/ 

a {
	color: black;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

a:hover {
	color: black;
	cursor: pointer;
}

.show{
	display: none !important;
	margin-left: 3%;
	margin-bottom: 0 !important;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.7em;
	color: black;
}

li:hover .show{
	display: inline-block !important;
}

.secondaryBody h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 4em;
	margin-bottom: 2%;
}

.secondaryBody p{
	font-size: 1.7em;
}

.modal-header {
	border-bottom: none !important;
}

.modal-header h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

img {
	max-width: 100%;
}

/* HOME PAGE */
#bruce {
	margin-top: 8%;;
}

.secondRow {
	margin-top: 5%;
}

.borders {
	width: 46.1%;
	border: 5px black solid;
	border-radius: 5px;
	height: 260px;
}

.borders>h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	text-align: center;
}

.left-border{
	margin-right: 5%;
}

.sub-btn {
	margin-top: 3%;
	font-size: 2em !important;
	text-transform: uppercase;
}

.email{
	margin-top: 3%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
}

#slides_control > div{
  height: 260px;
  padding: 0 !important;
}

slide>img{
  margin:auto;
  width: 100%;
}

#slides_control {
  width: 100%;
}

/*CHOICE PAGE*/

.choice {
	padding: 10% 0;
}

a>h1 {
	text-align: center;
}

/* STORE PAGE */

.nav{
	margin-top: 0;
}

.nav li {
	margin-bottom: 2%;
	margin-right: 0.7%;
	border: 2px black solid;
	border-radius: 6px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: black;
	color: #f1c40f;
}

.theProduct {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 2%;
	border-radius: 10px; 
	color: #519640;
}

.theProduct img{
	margin-bottom: 2%;
}

.theProduct h3,h4 {
	color: black;
}

.theProduct h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

.cartButton {
	border: 3px black solid;
	background-color: white;
	background-color: #f1c40f;
	border-radius: 5px;
	color: black;
	padding: 10px 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
}

.cartButton:hover {
	background-color: #bfa125;
}

#myModalLabel{
	text-align: center;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 5%;
    font-size: 1.2em;
    border: 2px black solid;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1c40f;
}

.button-default {
	padding: 10px 20px !important;
	font-size: 1.5em;
}

/* ABOUT PAGE */

.aboutBody {
	display: block;
	position: absolute;
	width: 45%;
	left: 10%;
	top: -15%;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 4em;
	margin-bottom: 5%;
}

.aboutBody p {
	font-size: 2em;
	line-height: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* SOCIAL PAGE */

.blog-container {
	margin-top: 5px;
}

.row>a>section {
	padding: 0 0 0 4px;
	border-radius: 7px;
	margin: 5px; 
	position: relative;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.row>a>section:hover {
	margin-top: -5px;
	margin-bottom: 15px;
	box-shadow: 0px 5px 30px #888888;
}

.sec-row {
	margin-top: 10px;
}

.big-blog:hover .overlay-big {
	opacity: 1;
}

.small-blog:hover .overlay-small {
	opacity: 1;
}

.overlay-big{ 
	opacity: 0;
	position: relative;
	bottom: 227px;
	left: 0px;
	border-radius: 7px;
	z-index: 99;
	width: 100%;
	color: white;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.overlay-small{ 
	opacity: 0;
	position: relative;
	bottom: 127px;
	left: 0px;
	border-radius: 7px;
	z-index: 99;
	width: 100%;
	color: white;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.row>section>img {
	position: relative;
}

.big-blog {
	height: 227px;
}

.big-blog>img {
	max-width: 60%;
	height: 227px;
	float: right;
}

.big-blog>div {
	text-align: center;
	width: 36%;
	font-size: .8em;
}

.big-blog>div>h3 {
	font-size: 1.7em;
}

.small-blog {
	height: 227px;
	padding-left: 0 !important;
}

.small-blog>img {
	width: 100%;
	height: 127px;
}

.small-blog>div {
	text-align: center;
	width: 100%;
	font-size: .8em;
	padding: 5px;
}

.small-blog>div>h3 {
	margin-top: 0;
	font-size: 1.7em;
}

.small-blog-text {
	position: relative;
	bottom: 120px;
}

.event {
	background-color: #f1c40f;
}

.clothes {
	background-color: #2980b9;
}

.news {
	background-color: #c0392b;
}

.artist {
	background-color: #9b59b6;
}

/* CONTACT PAGE */

#contactBanner{
	background-color: #2b2b2b;
}

#contactBanner h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: white;
}

#contactBanner p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	margin-bottom: 0;
}

#customerInput {
	float: left;
	width: 50%;
	margin-top: 5%;
	font-family: 'Open Sans Condensed', sans-serif;
}

#firstName{
	width: 45%;
	float: left;
	margin-right: 10%;
	font-weight: 700;
	font-size: 1.5em;
}

#lastName {
	width: 45%;
	float: left;
	font-weight: 700;
	font-size: 1.5em;
}

#email {
	font-weight: 700;
	font-size: 1.5em;
}

#comment {
	font-weight: 700;
	font-size: 1.5em;
}

.submit {
	float: left;
	background-color: #519640;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	border-radius: 5px;
}

.submit:hover {
	background-color: #407033;
}

.submit:active {
	background-color: #407033;
}

iframe {
	float: right;
	width: 45%;
	margin-top: 5%;
}

/* LOGIN AND REGISTER PAGE */
fieldset{
	border: none;
	margin-bottom: 0;
	padding: 0;
}

.leForms {
	background-color: white;
	width: 30%;
	border-radius: 10px;
	box-shadow: 0px 2px 10px #888888;
}

/* MASTER PAGE */
.masterBody {
	width: 80%;
	display: block;
	position: absolute;
	left: 10%;
	top: -10%;
}

form {
	margin-bottom: 5%; 
}

.activeProducts {
	background-color: #E2E2E2;
	margin-bottom: 2%;
	box-shadow: 0px 2px 10px #888888;
}

.activeProducts h3 {
	text-align: left;
}

.activeProducts h4 {
	text-align: left;
}

.pull-right{
	float: right;
}